doctype html
html(lang="en")

head
    title Detalles
    link(rel="stylesheet", href="css/style.css")

body
    h1
        a(href="david_castellar.het") Comprar camiseta color #{color}

    div
        h2 Vista previa
        p #{datos.name} ccc