doctype html
html(lang="en")

head
    title #{title}

body
    h1
        a(href="david_castellar.het") Welcome
    
    div(class="box-test")
        p #{description}
        img(src="/img/imgcabezadesktop.png" alt="Cabeza")

    h2
        a(href="/tienda.html") Tienda